/* LOGIN AND REGISTER */

*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 25px;
  width: 300px;

  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgb(221, 29, 29);
}
.container h1{
  text-align: left;
  color: #fafafa;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 4px solid #ffffff;
}
.container label{
  text-align: left;
  color: #ffffff;
}
.container form input{
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ffffff;
  color: #fff;
  font-size: 20px;
}
.container form button{
  width: 100%;
  padding: 5px 0;
  border: none;
  background-color:#9e451b;
  font-size: 18px;
  color: #ffffff;
}
.container p{
  text-align: center;
  color: #fafafa;
  margin-bottom: 10px;
}
.container a{
  color: #90caf9;
}

.buttongg {
  background-color: #9e451b; /* Warna latar belakang */
  border: none; /* Tanpa border */
  color: white; /* Warna teks */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Posisi teks di tengah */
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Ukuran font */
  margin: 4px 2px;
  cursor: pointer; /* Tampilan kursor saat dihover */
  border-radius: 10px; /* Border radius */
 }